.editor-canvas {
    height: 20rem;
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    background-color: var(--bg-editor-color);
}

.editor-canvas:focus {
     border: 1px solid #ccc;
}
