.floating-menu {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 8px 24px var(--bg-color);
  /* border-radius: 8px; */
  padding: 6px;
  gap: 2px;
}
