:root {
  --bg-color: #fafafa;
  --text-main: #37352f;
  --border-color: #e9e9e6;
  --hover-bg: #efeee8;
  --bg-editor-color: #fff;
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.rich-text-editor {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: var(--font-stack);
    -webkit-font-smoothing: antialiased;
    width: 60%;
    height: 100%;
}
